.header{
    display: grid;
    justify-items: flex;
    justify-content: center;
    background:#171515;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
h2{
    font-family:'Verdana', sans-serif;
    color: white;
}
.card{
    padding: 10px;
    background-color:rgb(46, 46, 46);
    border-radius: 10px;
    display: grid;
    justify-items:flex-start;
    font-family:'Verdana', cursive;
    color: white;
}
.displayResults{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(18rem,1fr));
    gap: 1rem;
}
body{
    background-color: #171515;
}
b{
    color: white;
    font-family:'Verdana', sans-serif;
}
#btn{
    font-family:'Verdana', sans-serif;
    font-size: 18px;
    background: none;
    border-radius: 2px;
    padding: 15px;
    color: white;
}
#btn:hover{
    color: white;
    background-color:#0563bb;
}